﻿@model Student

@{
    ViewData["Trần Thị Thu Nhàn"] = "Edit";
}

<h1>Chỉnh Sửa <img width="80" height="80" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6EMCBMaVcTn0K7GERU2VpNBwUs6qks9dqqffrhc_AoZ0sz16_7g"></h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu Chỉnh Sửa" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAll">Trở Về Danh Sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}